<nz-select class="w-full"
           [formControl]="control"
           nzMode="multiple"
           [nzCustomTemplate]="assigneesSelectedTmpl"
           [nzNotFoundContent]="noUserFoundTmpl"
           nzNoAnimation>
    <nz-option nzCustomContent
               *ngFor="let user of users"
               [nzValue]="user._id"
               [nzLabel]="user.username">
        <j-user [user]="user"></j-user>
    </nz-option>
</nz-select>
<ng-template #assigneesSelectedTmpl
             let-selected>
    <j-user [user]="getUser(selected.nzValue)"></j-user>
</ng-template>
<ng-template #noUserFoundTmpl>
    No user found.
</ng-template>