<div class="pr-6 py-8 pl-8 h-full w-full flex flex-col">
  <!-- <breadcrumbs [items]="breadcrumbs"></breadcrumbs> -->
  <header class="mt-3 flex justify-between text-textDarkest">
    <div class="text-2xl font-medium">{{'Board'}}</div>

    <j-button className="btn-secondary" (click)="logout()">Logout
    </j-button>
  </header>
  <div class="sidebar-content">
    <div class="flex items-center mt-6">
      <form class="w-40 mr-4">
        <j-input aria-label="search" icon="search">
        </j-input>
      </form>
    </div>

    <div class="d-flex">
      <div class="issue-wrap" style="width: 350px; height: 120px; margin-top: 40px;" (click)="openCreateBoardModal()">
        <div class="issue" style="align-items: center;
        display: flex;
        justify-content: center;">
          <p class="pb-3 text-15 text-textDarkest">
            <span>Create new board</span>
          </p>
          <div class="flex justify-between items-center">
          </div>
        </div>
      </div>

      <ng-container *ngFor="let item of boards">
        <div class="issue-wrap" style="width: 350px; height: 120px; margin-top: 40px;">
          <div class="issue" (click)="openBoardDetail(item)">
            <p class="pb-3 text-15 text-textDarkest">
              <span>{{item.title}}</span>
            </p>
            <div class="flex justify-between items-center">
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>