<div class="px-3">
    <issue-detail [issue]="issue"
                  [isShowFullScreenButton]="true"
                  [isShowCloseButton]="true"
                  (onClosed)="closeModal()"
                  (onOpenIssue)="openIssuePage($event)"
                  (onDelete)="deleteIssue($event)">
    </issue-detail>
</div>