<div class="pr-6 py-8 pl-8 h-full w-full flex flex-col">
  <!-- <breadcrumbs [items]="breadcrumbs"></breadcrumbs> -->
  <header class="mt-3 flex justify-between text-textDarkest">
    <div class="text-2xl font-medium">{{'Members'}}</div>

    <j-button className="btn-secondary" (click)="logout()">Logout
    </j-button>
  </header>
  <div class="sidebar-content">
    <div class="flex items-center mt-6">
      <form class="w-40 mr-4 flex" style="width: 100%; justify-content: space-between ">
        <j-input aria-label="search" icon="search">
        </j-input>
        <j-button className="btn-secondary" (click)="openCreateMemberModal()"> Mời thành viên tham gia không gian làm việc
        </j-button>
      </form>
    </div>

    <div class="sidebar-content">
      <ng-container *ngFor="let user of users">
        <div class="flex py-6 px-1 member">
          <j-avatar [avatarUrl]="user.avatarUrl" [name]="'Project'" [rounded]="false" [size]="45" title="Angular Vietnam" style="border-radius: 50%">
          </j-avatar>
          <div class="pl-4">
            <div class="text-textDark text-15 font-medium text-title">
              {{ user.fullName }} - {{ user.username }}
            </div>
            <div class="text-textMedium text-13">
              {{ user.gmail }}
            </div>
          </div>
          <div class="btn-out">
            <j-button className="btn-secondary"> Quản trị viên
            </j-button>
            <j-button className="btn-secondary ml-4" (click)="outMenber(user._id)"> Rời đi
            </j-button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>