:host {
    @apply flex flex-grow;
    margin-bottom: 5px;
  }
  
  .issue-wrap {
    touch-action: manipulation;
    cursor: grab;
    @apply flex flex-grow;
  }
  
  .issue {
    @apply flex flex-grow flex-col rounded-sm bg-white transition-all duration-100 select-none;
    padding: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 2px 0px;
  }
  
  .issue:hover {
    @apply bg-backgroundLight;
  }

  .member {
    border: 1px solid;
    border-left: none;
    border-right: none;
    margin-top: 30px;
    border-bottom: 1px solid #091e4221;
    border-top: 1px solid #091e4221;
    padding: 12px 0;
    min-height: 40px;
    margin-right: 30px;
    cursor: pointer;
  }

  .text-title {
    font-size: 16px;
    font-weight: 700;
    margin-right: 4px;
    width: 500px;
  }

  .btn-out {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-right: 10px;
  }
  