<div class="relative mt-3 text-15">
    <j-avatar class="absolute top-0 left-0"
              [avatarUrl]="getAvatarComment(comment.userId)"
              [size]="30">
    </j-avatar>
    <div class="pl-10"
         *ngIf="comment">
        <div class="inline-block mr-3 mb-2 text-textDark font-medium">
            {{ getUserComment(comment.userId) }}
        </div>
        <div *ngIf="!createMode"
             class="inline-block pb-2 text-textDark text-sm">
            {{ comment.updatedAt | date:"medium" }}
        </div>
        <div class="editing-area"
             *ngIf="createMode">
            <textarea #commentBoxRef
                      class="textarea-inline-control textarea-border"
                      [formControl]="commentControl"
                      placeholder="Add a comment"
                      [rows]="2"
                      cdkTextareaAutosize
                      (click)="setCommentEdit(true)">
            </textarea>
            <div *ngIf="!isEditing"
                 class="text-xs"><strong>Pro tip: </strong>press <span class="px-1 font-semibold bg-backgroundMedium">M</span> to comment
            </div>
            <div *ngIf="isEditing"
                 class="flex pt-2 pb-4 items-center">
                <j-button [className]="'btn btn-primary mr-2'"
                          (click)="addComment()">
                    Save
                </j-button>
                <j-button [className]="'btn btn-empty'"
                          (click)="cancelAddComment()">
                    Cancel
                </j-button>
            </div>
        </div>
        <div *ngIf="!createMode"
             [innerHTML]="comment.body">
        </div>
    </div>
</div>