@import './core/styles/custom';

#app-frame {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  > nz-spin {
    @apply flex flex-grow;

    > .ant-spin-container {
      @apply flex flex-grow;
    }
  }
}

app-project {
  @apply flex;
  flex-grow: 1;
  flex-direction: column;
  /* for Firefox */
  min-height: 0;
}

// board-dnd {
//   @apply flex flex-grow;
// }

.global-spinner {
  @apply min-h-screen;
  .ant-spin {
    max-height: unset !important;
  }
}

//ng-zorro override
body,
.ant-modal {
  @apply text-textDark;
}

.ant-modal-body {
  padding: 0;
}
