<div class="issue-wrap">
    <div (click)="openIssueModal(issue)"
         class="issue">
        <p class="pb-3 text-15 text-textDarkest">
            {{ issue.title }}
        </p>
        <div class="flex justify-between items-center">
            <div class="flex items-center ml-1">            
                <j-avatar *ngFor="let user of assignees"
                          [className]="'shadow-outline-white -ml-1'"
                          [size]="24"
                          nz-tooltip
                          [nzMouseEnterDelay]="0.3"
                          nzTooltipTitle="Assignee: {{ user?.name }}"
                          nzTooltipPlacement="bottom"
                          [avatarUrl]="user?.avatarUrl">
                </j-avatar>                
                <span [class.ml-3]="assignees?.length" class="uppercase">
                    {{issue.status}}
                </span>
            </div>
            <div class="flex items-center">
                <svg-icon class="text-textMedium mr-1"
                          [name]="issueTypeIcon"
                          nz-tooltip
                          [nzMouseEnterDelay]="0.3"
                          [nzTooltipTitle]="issue?.type"
                          nzTooltipPlacement="bottom"
                          [size]="20">
                </svg-icon>

                <svg-icon [name]="priorityIcon.icon"
                          nz-tooltip
                          [nzMouseEnterDelay]="0.3"
                          [nzTooltipTitle]="priorityIcon.value"
                          nzTooltipPlacement="bottom"
                          [size]="20"
                          [style.color]="priorityIcon.color">
                </svg-icon>
            </div>            
        </div>
    </div>
</div>