$light-blue: rgb(121, 216, 97);

.navbarLeft-content {
  @apply h-screen w-navbarLeft pt-6 pb-5 flex flex-col bg-primary flex-shrink-0;
}

.logoLink {
  @apply relative pb-2 flex items-center justify-center;
}

.item {
  @apply relative w-full flex items-center justify-center;
  min-height: 42px;

  .user-profile-photo {
    width: 26px;
  }
}

.itemIcon {
  @apply w-8 h-8 rounded-full flex items-center justify-center flex-shrink-0 select-none transition-colors duration-100 cursor-pointer;
}

.itemIcon:hover {
  background: $light-blue;
}

.about-popover {
  max-width: 270px;
}
