<div class="status-list">
    <div class="px-3 pb-4 pt-3 uppercase text-textMedium text-13 truncate">
        {{ status.title }}
        <!-- <span class="lowercase text-13">{{ issuesCount }}</span> -->
        <j-button icon="plus" style="float: right;"
                  [className]="'btn-empty mr-1'" (click)="openCreateIssueModal(status)">
        </j-button>
        <j-button icon="trash" style="float: right;"
                  [className]="'btn-empty'" (click)="openDeleteIssueModal(status)">
        </j-button>
    </div>
    <div class="h-full pl-2"
         cdkDropList
         [cdkDropListData]="status.taskItem"
         [id]="status"
         (cdkDropListDropped)="drop($event)">
        <issue-card *ngFor="let issue of status.taskItem"
                    [issue]="issue"
                    [users]="users"
                    cdkDrag
                    [cdkDragData]="issue">
        </issue-card>
    </div>
</div>
