<div class="flex items-center">
    <j-avatar [avatarUrl]="user?.avatarUrl"
              [size]="20">
    </j-avatar>
    <span class="ml-1-5 mr-1-5 user-name">
        {{ user?.username }}
    </span>
</div>