.checklist-progress {
    margin-bottom: 6px;
    position: relative;
}

.checklist-progress-percentage {
    color: #5e6c84;
    font-size: 11px;
    left: 0;
    line-height: 10px;
    position: absolute;
    text-align: center;
    top: -1px;
    width: 32px;
}

.checklist-progress-bar {
    background: #091e4214;
    border-radius: 4px;
    clear: both;
    height: 8px;
    margin: 0 0 0 40px;
    overflow: hidden;
    position: relative;
}

.checklist-progress-bar-current.checklist-progress-bar-current-delay {
    transition-delay: .2s;
}

.checklist-progress-bar-current-complete {
    background: #61bd4f;
}

.checklist-progress-bar-current {
    background: #5ba4cf;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    transition-duration: .14s;
    transition-property: width;
    transition-timing-function: ease-in;
}

.checklist-items-list {
    min-height: 8px;
    margin-top: 10px;
}

.checklist-item {
    border-radius: 3px;
    clear: both;
    position: relative;
    transform-origin: left bottom;
    transition-duration: .14s;
    transition-property: transform,opacity,height,padding,margin;
    transition-timing-function: ease-in;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 26px;
}

.checklist-item-checkbox {
    background-color: #0079bf;
    border-radius: 2px;
    box-shadow: inset 0 0 0 2px #0079bf;
    flex-shrink: 0;
    height: 16px;
    overflow: hidden;
    position: absolute;
    transition: all .2s ease-in-out;
    white-space: nowrap;
    width: 16px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checklist-item-checkbox-check {
    height: 8px;
    opacity: 1;
    width: 8px;
    background: white;
    display: block;
}

.checklist-item-details {
    overflow-wrap: break-word;
    word-break: break-word;
    padding-left: 40px;
}

.textarea-border {
    color: rgb(137, 147, 164);
    border: 1px solid rgb(223, 225, 230);
    cursor: text;
    user-select: none;
    padding: 12px 16px;
    border-radius: 4px;
  }


  .btn-delete-need {
      display: none;
  }

  .checklist-item:hover .btn-delete-need{
      display: block;
  }

  .checklist-item:hover .input-need {
    border: 1px solid;
    border-radius: 4px;
    border-color: red;
  }

  .checklist-item:hover{
    background-color: #091e420a;
  }

  nz-date-picker {
    margin: 0 8px 12px 0;
  }