<div *ngIf="issue; else loaderTmpl" class="w-full h-full" [class.pl-4]="isShowCloseButton">
    <div class="flex items-center pt-4 text-textDarkest">
        <!-- <issue-type [issue]="issue"></issue-type> -->
        <div class="flex-auto"></div>

        <j-button icon="trash" [className]="'btn-empty'" (click)="openDeleteIssueModal()">
        </j-button>
        <j-button *ngIf="isShowCloseButton" icon="times" [iconSize]="24" (click)="closeModal()"
            [className]="'btn-empty'">
        </j-button>
    </div>
    <div class="flex w-full flex-wrap pb-16">
        <div class="sm:w-full md:w-7/12 lg:w-4/6 pr-10">
            <issue-title [issue]="issue"></issue-title>

            <div class="pt-4 pb-2 text-15 font-medium">Chi tiết</div>
            <issue-description [issue]="issue"></issue-description>

            <ng-container *ngIf="titleWorkNeedParent">
                <div class="pt-4 pb-2 text-15 font-medium">Việc cần làm</div>
                <div class="check-list">
                    <div class="check-list-header">
                        <div class="headeer-btn flex" style="justify-content: space-between; align-items: center;">
                            <h3>{{titleWorkNeedParent.toUpperCase()}}</h3>
                            <div>
                                <j-button [className]="'btn-empty'"> Ẩn mục đã chọn
                                </j-button>
                                <j-button [className]="'btn-empty'" (click)="removeWorkNeed()"> Xoá
                                </j-button>
                            </div>
                        </div>
                    </div>
                    <div class="checklist-progress mt-2"><span
                            class="checklist-progress-percentage js-checklist-progress-percent">{{getPrecent()}}%</span>
                        <div class="checklist-progress-bar">
                            <div [ngStyle]="{'width': getPrecent() + '%'}"
                                class="checklist-progress-bar-current js-checklist-progress-bar checklist-progress-bar-current-delay checklist-progress-bar-current-complete"
                                style="width: 100%;"></div>
                        </div>
                    </div>

                    <form name="workNeed" id="workNeed" [formGroup]="form">
                        <div formArrayName="listOfData">
                            <div *ngFor="let item of getListOfData.controls; let i = index;">
                                <ng-container [formGroupName]="i">
                                    <div class="checklist-items-list">
                                        <div class="checklist-item">
                                            <div class="checklist-item-checkbox" (click)="onClickNeed(i)">
                                                <span
                                                    [ngClass]="{'checklist-item-checkbox-check': item.value.checked }"></span>
                                            </div>
                                            <div class="checklist-item-details">
                                                <input maxlength="255" type="text" formControlName="title"
                                                    class="form-control input-need" (change)="change($event, i)" />
                                            </div>
                                            <j-button [className]="'btn-primary'" style="margin-left: 383px" (click)="deleteWorkNeedItem(i)"
                                                class="btn-delete-need">
                                                Xoá
                                            </j-button>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </form>

                    <j-button [className]="'btn-empty mt-5'" (click)="isDisplayAddWorkNeed = true"> Thêm một mục
                    </j-button>

                    <div class="relative mt-3 text-15" *ngIf="isDisplayAddWorkNeed">
                        <div class="pl-4">
                            <div class="editing-area">
                                <textarea #commentBoxRef class="textarea-inline-control textarea-border"
                                    placeholder="Add a comment" [(ngModel)]="titleWordNeed" cdkTextareaAutosize>
                            </textarea>
                                <div class="flex pt-2 pb-4 items-center">
                                    <j-button [className]="'btn btn-primary mr-2'" (click)="onAdd(titleWordNeed)">
                                        Save
                                    </j-button>
                                    <j-button [className]="'btn btn-empty'" (click)="isDisplayAddWorkNeed = false">
                                        Cancel
                                    </j-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <div class="pt-4 pb-2 text-15 font-medium">Bình luận</div>
            <issue-comments [issue]="issue"></issue-comments>
        </div>
        <div class="sm:w-full md:w-5/12 lg:w-2/6 pt-1">
            <issue-status [issue]="issue"></issue-status>
            <issue-reporter [issue]="issue" [users]="users">
            </issue-reporter>
            <issue-assignees [issue]="issue" [users]="users">
            </issue-assignees>
            <issue-priority [issue]="issue"></issue-priority>
            <div class="mt-6 mb-1 uppercase text-textMedium text-13 font-bold">
                Ngày hết hạn
            </div>

            <div class="flex mt-3">
                <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" [(ngModel)]="timeLimit"></nz-date-picker>
                <j-button class="flex ml-2" (click)="onSave()">Lưu</j-button>
            </div>

            <div *ngIf="timeLimit && showTimeLimit"
                class="page-notice-item p-px-15 bg-white egp-border-radius border-danger border-left border-5">
                <strong class="text-danger">Thời gian còn lại: <br />
                    <countdown-timer [toDate]="timeLimit"></countdown-timer>
                </strong>
            </div>

            <div class="mt-6 mb-1 uppercase text-textMedium text-13 font-bold">
                Việc cần làm
            </div>
            <j-button icon="plus" class="flex mt-3" className="btn-empty" (click)="addTitleWorkNeed()">Thêm</j-button>
            <div class="mt-3 pt-3 leading-loose border-t border-borderLightest text-textMedium text-13">
                <div>
                    Ngày tạo - {{ issue.createdAt | date:"medium" }}
                </div>
                <div>
                    Cập nhật - {{ issue.updatedAt | date:"medium" }}
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loaderTmpl>
    <issue-loader></issue-loader>
</ng-template>

<ng-template #addWorkNeedModal let-ref="modalRef" let-params>
    <div class="py-5 px-8">
        <div class="flex items-center py-3 text-textDarkest">
            <div class="text-xl">
                Thêm việc cần làm
            </div>
            <div class="flex-auto"></div>
            <j-button icon="times" [iconSize]="24" (click)="cancel()" [className]="'btn-empty'">
            </j-button>
        </div>
        <form class="issue-form">
            <div class="form-group mt-3">
                <label class="label">
                    Title
                </label>
                <input class="form-input" jAutofocus [(ngModel)]="titleWorkNeedParent"
                    [ngModelOptions]="{standalone: true}" [timerDelay]="300" name="titleWorkNeedParent" />
            </div>
            <div class="form-group mt-5 form-action">
                <j-button className="btn-primary mr-2" (click)="submitWorkNeedTitle()" type="submit">
                    Thêm
                </j-button>
                <j-button className="btn-empty" (click)="cancel()">
                    Huỷ bỏ
                </j-button>
            </div>
        </form>
    </div>

</ng-template>
