<div class="py-5 px-8">
  <div class="flex items-center py-3 text-textDarkest">
    <div class="text-xl">
      Mời thành viên
    </div>
    <div class="flex-auto"></div>
    <j-button icon="times" [iconSize]="24" (click)="closeModal()" [className]="'btn-empty'">
    </j-button>
  </div>
  <form class="issue-form">
    <div class="form-group mt-3">
      <label class="label">
        Danh sách thành viên
      </label>
      <issue-assignees-select [control]="f.userId" [users]="users">
      </issue-assignees-select>
    </div>
    <div class="form-group mt-5 form-action">
      <j-button className="btn-primary mr-2" (click)="submitForm()" type="submit">
        Mời thành viên
      </j-button>
      <j-button className="btn-empty" (click)="cancel()">
        Huỷ bỏ
      </j-button>
    </div>
  </form>
</div>