<div class="py-5 px-8" style="width: 400px">
  <div class="flex items-center py-3 text-textDarkest">
    <div class="text-xl">
      Register
    </div>
  </div>
  <form class="issue-form" (ngSubmit)="submit()" [formGroup]="form">

    <div class="form-group mt-3">
      <label class="label">
        Username
      </label>
      <input class="form-input" placeholder="Username" autocomplete="username" required name="userName"
        formControlName="username" jAutofocus />
    </div>

    <div class="form-group mt-3">
      <label class="label">
        Fullname
      </label>
      <input class="form-input" placeholder="Fullname" autocomplete="Fullname" required formControlName="fullName"
        jAutofocus />
    </div>

    <div class="form-group mt-3">
      <label class="label">
        Password
      </label>
      <input class="form-input" type="text" placeholder="Password" autocomplete="current-Password" required
        name="Password" formControlName="password" jAutofocus />
    </div>

    <div class="form-group mt-3">
      <label class="label">
        Gmail
      </label>
      <input class="form-input" placeholder="Gmail" autocomplete="current-Gmail" required name="Gmail"
        formControlName="gmail" jAutofocus />
    </div>

    <div class="form-group mt-3">
      <label class="label">
        Avatar
      </label>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="group-gap">
          <div class="avatar-upload">
            <div class="avatar-edit">
              <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)" />
            </div>
            <div class="avatar-preview">
              <div id="imagePreview" [style.backgroundImage]="'url(' + imageUrl + ')'"></div>
            </div>
          </div>
        </div>

        <j-button type="submit" class="btn-empty" (click)="fileInput.click()">
          Upload Image
        </j-button>
      </form>
    </div>

    <div class="form-group mt-5 form-action">
      <j-button className="btn-primary mr-2" type="submit">
        Register
      </j-button>
    </div>
  </form>
</div>