<div class="mt-6 mb-1 uppercase text-textMedium text-13 font-bold">
    Status
</div>
<div nz-dropdown
          nzTrigger="click"
          [nzDropdownMenu]="menu"
          [className]="'uppercase text-textMedium text-13'" style="width: 100px; height: 30px; cursor: pointer;" [ngStyle]="{'background': issue.status}">
</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu
        nzNoAnimation
        class="mt-3">
        <ng-container *ngFor="let option of issueStatuses">
            <li nz-menu-item
                *ngIf="!isStatusSelected(option.value)"
                (click)="updateIssue(option.value)" style="width: 100px; height: 30px;" [ngStyle]="{'background': option.color}">
                <div class="flex items-center">
                    <!-- <span class="ml-3 font-semibold uppercase text-textMedium text-13">{{ option.label }}</span> -->
                </div>
            </li>
        </ng-container>
    </ul>
</nz-dropdown-menu>
