<div class="py-5 px-8" style="width: 400px">
  <div class="flex items-center py-3 text-textDarkest">
      <div class="text-xl">
          Login
      </div>
  </div>
  <form class="issue-form" (ngSubmit)="submit()" [formGroup]="form">

      <div class="form-group mt-3">
          <label class="label">
              Username
          </label>
          <input class="form-input"
                placeholder="Username" autocomplete="username" required name="userName" formControlName="username"
                jAutofocus/>
      </div>

      <div class="form-group mt-3">
        <label class="label">
            Password
        </label>
        <input class="form-input" type="password"
              placeholder="Password" autocomplete="current-password" required name="password" formControlName="password"
              jAutofocus/>
      </div>

      <div class="form-group mt-5 form-action">
          <j-button className="btn-primary mr-2"
                    type="submit"
                    >
              Create Issue
          </j-button>
      </div>
  </form>
</div>
