<issue-comment [createMode]="true"
               [issueId]="issue?._id" (modalSave)="modalSave($event)">
</issue-comment>
<issue-comment *ngFor="let comment of comments"
               [comment]="comment">
</issue-comment>