<div class="py-5 px-8">
  <div class="flex items-center py-3 text-textDarkest">
      <div class="text-xl">
          Create task
      </div>
      <div class="flex-auto"></div>
      <j-button icon="times"
                [iconSize]="24"
                (click)="closeModal()"
                [className]="'btn-empty'">
      </j-button>
  </div>
  <form class="issue-form">
      <div class="form-group mt-3">
          <label class="label">
              Title
          </label>
          <input class="form-input"
                 jAutofocus
                 [(ngModel)]="taskTitle" [ngModelOptions]="{standalone: true}"
                 [timerDelay]="300" name="taskTitle"/>
      </div>
      <div class="form-group mt-3">
          <label class="label">
              Description
          </label>
          <quill-editor class="content-editor"
                        [styles]="{'min-height': '120px'}"
                        [modules]="editorOptions" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="taskDes" name="taskDes"
                        [placeholder]="''">
          </quill-editor>
      </div>
      <div class="form-group mt-5 form-action">
          <j-button className="btn-primary mr-2" (click)="submit()"
                    type="submit">
              Create Task
          </j-button>
          <j-button className="btn-empty"
                    (click)="cancel()">
              Cancel
          </j-button>
      </div>
  </form>
</div>
