<div class="flex items-center mt-6">
     <form class="w-40 mr-4">
         <j-input aria-label="search"
                  icon="search"
                  [control]="searchControl">
         </j-input>
     </form>
     <div class="flex flex-row mr-3">
         <div *ngFor="let user of projectQuery.users$ | async"
              class="lift-avatar"
              nz-tooltip
              [nzTooltipPlacement]="'bottom'"
              [class.is-active]="isUserSelected(user)"
              [nzTooltipTitle]="user.name">
             <j-avatar class="flex"
                       className="select-none shadow-outline-white"
                       [avatarUrl]="user.avatarUrl"
                       [size]="36"
                       (click)="userChanged(user)">
             </j-avatar>
         </div>
     </div>
     <!-- <j-button class="ml-3"
               className="btn-empty"
               [isActive]="filterQuery.onlyMyIssue$ | async"
               (click)="onlyMyIssueChanged()">
         Only My Issues
     </j-button>
     <j-button class="ml-3"
               [isActive]="filterQuery.ignoreResolve$ | async"
               (click)="ignoreResolvedChanged()"
               className="btn-empty">
         Ignore Resolved
     </j-button> -->
     <!-- <div class="ml-3 flex items-center"
          *ngIf="filterQuery.any$ | async">
         <div class="mr-3 w-px bg-backgroundMedium self-stretch"></div>
         <j-button [className]="'btn-secondary'"
                   (click)="resetAll()">Clear all
         </j-button>
     </div> -->

     <div class="ml-3 flex items-center">
         <j-button class="ml-3"
         className="btn-empty"
         icon="plus"
         (click)="openCreateTaskModal()"
         >
              Add task
         </j-button>

         <j-button class="ml-3"
         className="btn-empty"
         icon="plus"
         (click)="openMembers()"
         >
              Members
         </j-button>
   </div>
 </div>

<div class="flex container mt-7"
     cdkDropListGroup>
    <div class="board-dnd-list"
         board-dnd-list
         *ngFor="let status of issueStatuses"
         [status]="status"
         [users]="users"
         (modalSave)="modalSave($event)"
         (deletteTask)="deletteTask($event)"
         >
    </div>
</div>
