<div class="py-5 px-8">
    <div class="flex items-center py-3 text-textDarkest">
        <div class="text-xl">
            Create issue
        </div>
        <div class="flex-auto"></div>
        <j-button icon="times"
                  [iconSize]="24"
                  (click)="closeModal()"
                  [className]="'btn-empty'">
        </j-button>
    </div>
    <form class="issue-form"
          [formGroup]="issueForm">
        <!-- <div class="form-group">
            <label class="label">
                Issue type
            </label>
            <issue-type-select [control]="f?.type"></issue-type-select>
        </div> -->
        <div class="form-group mt-3">
            <label class="label">
                Issue priority
            </label>
            <issue-priority-select [control]="f?.priority"></issue-priority-select>
        </div>
        <div class="form-group mt-3">
            <label class="label">
                Title
            </label>
            <input class="form-input"
                   jAutofocus
                   [timerDelay]="300" 
                   name="title"
                   formControlName="title"/>
        </div>
        <div class="form-group mt-3">
            <label class="label">
                Description
            </label>
            <quill-editor class="content-editor"
                          [styles]="{'min-height': '120px'}"
                          [modules]="editorOptions"
                          [placeholder]="''"
                          name="description"
                          formControlName="description">
            </quill-editor>
        </div>
        <div class="form-group mt-3">
            <label class="label">
                Reporter
            </label>
            <issue-reporter-select [control]="f?.reporterId"
                                   [users]="users">
            </issue-reporter-select>
        </div>
        <div class="form-group mt-3">
            <label class="label">
                Assignees
            </label>
            <issue-assignees-select [control]="f.userId"
                                    [users]="users">
            </issue-assignees-select>
        </div>
        <div class="form-group mt-5 form-action">
            <j-button className="btn-primary mr-2"
                      type="submit"
                      (click)="submitForm()">
                Create Issue
            </j-button>
            <j-button className="btn-empty"
                      (click)="cancel()">
                Cancel
            </j-button>
        </div>
    </form>
</div>